<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex.min.css" rel="stylesheet">
    <title>Broken package report</title>
  </head>
  <body>
    <div id="packagelist" class="row">
      <h1>Broken package report</h1>
      <table id="pkgtable" class="hover" border="1">
        <thead> 
          <tr>
            <th>Broken package</th>
            <th>Broken file</th>
            <th>Missing .so files</th>
          </tr>
         </thead>
         <tbody>
           {% for broken_package, missing_so_files in broken_packages.items() %}
           {% for missing_so, broken_file in missing_so_files %}
           <tr>
             {% if loop.first %}
             <td rowspan="{{loop.length}}" >{{broken_package}}</td>
             {% endif %}
             <td>{{broken_file}}</td>
             <td>{{missing_so}}</td>
           </tr>
           {% endfor %}
           {% endfor %}
         </tbody>
      </table>
    </div>
  </body>
</html>
